@model IEnumerable<s11215103.Models.People>

@{
    ViewData["Title"] = ViewBag.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PeopleList</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1">
    <caption>學生資料</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.帳號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.性別)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.身高)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.體重)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.標準體重)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMI)
            </th>
            <th>
                照片
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.帳號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.性別)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.身高)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.體重)
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.標準體重)*@
               @String.Format("{0:F2}",item.標準體重)
            </td>
            <td>
                 @* @Html.DisplayFor(modelItem => item.BMI)*@
                @String.Format("{0:F2}", item.BMI)
            </td>
            <td>
                <img src="~/images/@(item.帳號).jpg" width="100px" />
            </td>
            @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
</body>
</html>
